<!-- <app-header></app-header> -->
<div class="container">
  <div class="intro-section">
    <h1>Order Summary</h1>
    <p>Thank you for your order! Here are the details:</p>
  </div>

  <form [formGroup]="orderForm">
    <div class="row">

      <!-- Thông tin người nhận -->
      <div class="col-md-6">
        <h2 class="product-header">Thông tin người nhận </h2>

        <!-- Họ và tên -->
        <div class="mb-3">
          <label for="fullname" class="form-label">Họ và tên:</label>
          <input
            type="text"
            id="fullname"
            class="form-control"
            formControlName="fullname"
            [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched"
            placeholder="Enter your name"
          />
          <div *ngIf="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched" class="invalid-feedback">
            Họ và tên người nhận là bắt buộc và không được ít hơn 3 ký tự
          </div>
        </div>

        <!-- Địa chỉ nhận hàng -->
        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ nhận hàng:</label>
          <input
            type="text"
            id="address"
            class="form-control"
            formControlName="address"
            [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched"
            placeholder="Enter your address"
          />
          <div *ngIf="orderForm.get('address')!.invalid && orderForm.get('address')!.touched" class="invalid-feedback">
            Address là bắt buộc và không được ít hơn 10 ký tự
          </div>
        </div>

        <!-- Số điện thoại -->
        <div class="mb-3">
          <label for="phonenumber" class="form-label">Số điện thoại:</label>
          <input
            type="text"
            id="phonenumber"
            class="form-control"
            formControlName="phone_number"
            [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched"
            placeholder="Enter your phone number"
          />
          <div *ngIf="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched" class="invalid-feedback">
            Phone number là bắt buộc và không được ít hơn 6 ký tự
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched"
            placeholder="Enter your email"
          />
          <div *ngIf="orderForm.get('email')!.invalid && orderForm.get('email')!.touched" class="invalid-feedback">
            Phải nhập đúng email
          </div>
        </div>

        <!-- Ghi chú -->
        <div class="mb-3">
          <label for="note" class="form-label">Ghi chú:</label>
          <textarea
            id="note"
            class="form-control"
            formControlName="note"
            placeholder="Enter any special instructions"
          ></textarea>
        </div>
         <div class="form-group">
          <label for="shipping_method">Phương thức giao hàng</label>
          <select id="shipping_method" class="form-control" formControlName="shipping_method">
            <option *ngFor="let method of shippingMethods" [value]="method.value">{{ method.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="payment_method">Phương thức thanh toán</label>
          <select id="payment_method" class="form-control" formControlName="payment_method">
            <option *ngFor="let method of paymentMethods" [value]="method.value">{{ method.label }}</option>
          </select>
        </div>
      </div>
     

      <!-- Chi tiết đơn hàng -->
      <div class="col-md-6">
        <h2 class="product-order">Order Details</h2>
        <table>
          <thead>
            <tr>
              <th>Hình ảnh</th>
              <th>Tên sản phẩm</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of cartItems">
              <tr>
                <td>
                  <div class="product-info">
                    <img [src]="item.product.image" alt="Product Image" class="product-image" />
                  </div>
                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price | currency:'VND':'symbol':'1.0-0' }}</td>
                <td>
                  <button (click)="decreaseItemQuantity(item.product.id)">-</button>
                  {{ item.quantity }}
                  <button (click)="increaseItemQuantity(item.product.id)">+</button>
                  <button class="btn btn-danger btn-sm ms-2" (click)="removeItem(item.product.id)">Xóa</button>
                </td>
                <td>{{ item.product.price * item.quantity | currency:'VND':'symbol':'1.0-0' }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </form>

  <!-- Mã giảm giá -->
  <div class="text-start mt-3">
    <h4 class="product-header">Nhập mã giảm giá:</h4>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter coupon code"
        [(ngModel)]="couponCode"
        name="coupon"
      />
      <button class="btn btn-gradient" type="button" (click)="applyCoupon()">Áp dụng</button>
    </div>

    <div *ngIf="couponMessage" class="text-success small mt-2">{{ couponMessage }}</div>
    <p>Giá hóa đơn : {{ totalAmount | currency:'VND':'symbol':'1.0-0' }}</p>

    <div *ngIf="discountedTotal > 0" class="mt-2">
      <p>Giá hóa đơn sau khi giảm: <strong>{{ discountedTotal | currency:'VND':'symbol':'1.0-0' }}</strong></p>
    </div>
  </div>

  <button class="btn btn-gradient" type="button" (click)="placeOrder()">Đặt hàng</button>
</div>
<!-- <app-footer></app-footer> -->
