<!-- <app-header></app-header> -->
<div class="container">
    <div class="confirmation-container">
        <h1>Order Comfirm</h1>

    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://tse4.mm.bing.net/th?id=OIP.OiAnawKuvXR2Wmy8MUv4QQHaEK&pid=Api&P=0&h=180" alt="Product 1" class="product-image">
                        </div>
                    </td>
                    <td>
                        <span class="product-name">Product 1</span>
                    </td>
                    <td>$10.00</td>
                    <td>2</td>
                    <td>$20.00</td>
                </tr><tr>
                    <td>
                        <div class="product-info">
                            <img src="https://tse4.mm.bing.net/th?id=OIP.OiAnawKuvXR2Wmy8MUv4QQHaEK&pid=Api&P=0&h=180" alt="Product 1" class="product-image">
                        </div>
                    </td>
                    <td>
                        <span class="product-name">Product 1</span>
                    </td>
                    <td>$10.00</td>
                    <td>2</td>
                    <td>$20.00</td>
                </tr><tr>
                    <td>
                        <div class="product-info">
                            <img src="https://tse4.mm.bing.net/th?id=OIP.OiAnawKuvXR2Wmy8MUv4QQHaEK&pid=Api&P=0&h=180" alt="Product 1" class="product-image">
                        </div>
                    </td>
                    <td>
                        <span class="product-name">Product 1</span>
                    </td>
                    <td>$10.00</td>
                    <td>2</td>
                    <td>$20.00</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <h4 class="header-text text-end">Total: $35.00</h4>
            <button class="btn btn-gradient" type="button">Continue BUY?</button>
        </div>
       
    </div>


</div>

<!-- <app-footer></app-footer> -->