<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home. </h1>
        <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <p>Chúc các bạn có những trải nghiệm thú vị</p>
    </div>
    <!-- Hiển thị Banner -->
    <div class="banner-carousel" *ngIf="banners.length > 0">
        <button (click)="showPreviousBanner()" class="carousel-btn prev-btn">❮</button>

        <img [src]="currentBannerImageUrl" alt="Banner" class="banner-image" />

        <button (click)="showNextBanner()" class="carousel-btn next-btn">❯</button>
    </div>


  
    
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm..." [(ngModel)]="keyword" />
        
        <select class="form-control product-category" [(ngModel)]="selectedCategoryId">
            <option [value]="0">Danh mục sản phẩm</option>
            <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
            </option>
        </select>
        
        <button class="btn btn-primary search-btn" (click)="redirectToSearch()">
            <i class="fas fa-search"></i> Tìm kiếm
        </button>
    </div>
    <!-- Sản phẩm bán chạy - Carousel -->
    <div class="best-selling-container" *ngIf="bestSellingProducts.length > 0">
     <h2 class="section-title">Sản phẩm bán chạy</h2>

        <div class="best-selling-carousel-wrapper">
            <button class="carousel-btn prev-btn" (click)="scrollLeft()">❮</button>

            <div class="best-selling-carousel" #carousel>
            <div
                class="product-card"
                *ngFor="let product of bestSellingProducts"
                (click)="goToProductDetail(product.id)"
            >
                <img
                [src]="product.image"
                alt="{{ product.name }}"
                class="product-card-image"
                />
                <div class="product-card-name">{{ product.name }}</div>
                <div class="product-card-price">{{ product.price | currency: 'VND':'symbol' }}</div>
            </div>
            </div>

            <button class="carousel-btn next-btn" (click)="scrollRight()">❯</button>
        </div>
    </div>

  


    
    
</div>

