.container {
    color: white;
    min-height: 100vh; /* Cho container cao tối thiểu full màn hình */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.login-form {
    background-color: rgb(12,12,55);
    border-radius: 10px;
    padding: 30px;
    border: 1px solid rgb(29,33,54);
    width: 100%;
    max-width: 400px; /* thu nhỏ form */
}

.login-header {
    text-align: center;
    color: rgb(105,244,181);
    margin-bottom: 20px;
}

.form-control {
    background-color: transparent;
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border: none; /* Loại bỏ border toàn bộ */
    border-radius: 6px;
    box-sizing: border-box;
}
.form-control:focus {
    background-color: transparent;
    border: none;
    color: white;
    outline: 1px solid; /* Đường viền màu xanh khi focus */
}
.form-control::placeholder {
    color: white; /* Thay đổi màu chữ placeholder thành trắng */
    opacity: 0.5; /* Đảm bảo placeholder không mờ */
}

.divider-nospace {
    border-top: 1px solid white;
    margin: 10px 0;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    bottom: 20px; /* Đặt ở gần sát viền dưới */
    right: 12px; 
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.password-field .form-control {
    padding-right: 40px; /* Chừa khoảng trống để icon không đè chữ */
}
.checkbox-text{
    color: white;
    margin-left: 5px;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.form-check-label {
    color: yellow
    ;
    margin-right: 75px;
}
.register-link {
    color: rgb(105,244,181);
    text-decoration: none;
    font-weight: bold;
}
.btn-gradient{
    background: linear-gradient(to right,rgb(225,64,180),rgb(126,43,237)) ;
    width: 100%;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}
.register-text {
    color: white;
    margin-top: 20px;
    text-align: center;
}

