#sidebar {
    background-color: black !important;
    height: 100vh;
    overflow-y: auto;
}

#sidebar a,
#sidebar .nav-link {
    color: red !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    text-decoration: none;
    background-color: black !important;
}
#sidebar a:hover{
    background-color: #0056b3;
}
.icon{
    padding: 5px;
}